$indigo: #0511F2;
$white: #ffffff;
$dark: #080e10;
$green: #0455BF;
$gradient: linear-gradient(203deg, #0511F2 0%, #0455BF 100%);
$gradient2: linear-gradient(250deg, #8C8303 24%, #8C5C03 100%);

.green {
  color: $green;
}
.indigo {
  color: $indigo;
}
